@model JacobFlix.Models.Siniflar.FilimBilgisi
@{
    ViewBag.Title = "YeniFlim";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h2>Yeni Flim Ekleme Sayfası</h2>

<form class="form-group" method="post">
        @Html.LabelFor(x => x.Ad)
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Konu)
        @Html.TextBoxFor(x => x.Konu, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.ElestirmenDerece)
        @Html.TextBoxFor(x => x.ElestirmenDerece, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.İzle)
        @Html.TextAreaFor(x => x.İzle, new { @class = "form-control" })

        <br />
        @Html.LabelFor(x => x.Tur)
        @Html.DropDownListFor(x => x.TurID, (List<SelectListItem>)ViewBag.vlf, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Yonetmen)
        @Html.TextBoxFor(x => x.Yonetmen, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.CikisTarihi)
        @Html.TextBoxFor(x => x.CikisTarihi, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Sure)
        @Html.TextBoxFor(x => x.Sure, new { @class = "form-control" })
        <br />

        @Html.LabelFor(x => x.Fragman)
        @Html.TextAreaFor(x => x.Fragman, new { @class = "form-control" })
        <br />
        <button class="btn btn-outline-info m-2">Flim Ekle</button>

</form>
