@model JacobFlix.Models.Siniflar.Yorumlar
@{
    ViewBag.Title = "YorumGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Yorum Getir Sayfası</h2>

@using (Html.BeginForm("YorumGuncelle", "AdminGiris", FormMethod.Post))
{
    @Html.LabelFor(x => x.İD)
    @Html.TextBoxFor(x => x.İD, new { @class = "form-control", @redonly = "redonly" })
    <br />
    @Html.LabelFor(x => x.KullanıcıAdı)
    @Html.TextBoxFor(x => x.KullanıcıAdı, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.FilimID)
    @Html.TextBoxFor(x => x.FilimID, new { @class = "form-control" })
   
    <button class="btn btn-success">Degerlendirme Güncelle</button>
}
